<%- include('header') %>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><%if (data) {%>  Edit  <%}else{%> Add <%}%> Workout Type</h1>
    </div>

    <!-- DataTales Example -->
    <div id="actionmsg"></div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div id="msgtxt"></div>
            <input type="hidden" name="id" value="<%- (data) ? data._id : '' %>" class="form-control form-control-user" id="formid"
            readonly>
            <form class="user" id="formworkouttype">
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" name="workout_type" value="<%- (data) ? data.workout_type : '' %>" class="form-control form-control-user" id="exampleFirstName"
                            placeholder="Workout Type">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="workout_description" value="<%- (data) ? data.workout_description : '' %>" class="form-control form-control-user" id="exampleLastName"
                            placeholder="Workout Description">
                    </div>
                </div>
                <hr/>
                <div class="col text-right">
                    <a href="/workout_type" class="btn btn-warning btn-user">
                        Cancel
                     </a>
                    <% if(data == null) { %>
                    <a id="btnAdd" class="btn btn-primary btn-user">
                        Add Workout Type
                     </a>
                     <% }else{ %>
                    <a id="btnEdit" class="btn btn-primary btn-user">
                        Edit Workout Type
                        </a>
                    <% } %>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<%- include('footer') %>

<script>
    var BASE_URL = 'https://fitmeapp-server.herokuapp.com/api/workout_type'

    $('#btnAdd').on('click',function(e){
        SendData('add');
    })

    $('#btnEdit').on('click',function(e){
        SendData('edit');
    })

    function SendData(action){
        var dataForm = $("#formworkouttype").serializeArray();
        var ajaxType = (action == 'add') ? 'POST' : 'PATCH';
        var id = $("#formid").val()
        var url = (action == 'edit') ? BASE_URL+'/'+id : BASE_URL
        $.ajax({
          type: ajaxType,
          url: url,
          data: dataForm,
          crossDomain:true,
          dataType: 'json',
          success: function(data){
            //console.log(data)
              var alt ="";         
              // if form is valid
              if(data.message){
                // Upload Image First
                alertCall('success',data.message,'#msgtxt')              
              }else{
                alertCall('alert','Something wrong when input data! Please Try again','#msgtxt')
              }  
          },
          error : function(err){
            alertCall('alert',err.responseText,'#msgtxt')
          }
        }) 
    }

    function alertCall($type,$msg,$target){
      if($type == 'alert'){
        alt= '<div class="alert alert-danger alert-dismissible">'+
                      '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
                      '<h5><i class="icon fas fa-ban"></i> Alert!</h5>'+$msg+
                    '</div>'
      }else if($type == 'success'){
        alt= '<div class="alert alert-success alert-dismissible">'+
                      '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
                      '<h5><i class="icon fas fa-check"></i> Success!</h5>'+$msg+
                    '</div>'
      }
      $($target).html(alt) 
    }
</script>