<%- include('header') %>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><%if (data) {%>  Edit  <%}else{%> Add <%}%> Case Base</h1>
    </div>

    <!-- DataTales Example -->
    <div id="actionmsg"></div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div id="msgtxt"></div>
            <input type="hidden" name="id" value="<%- (data) ? data._id : '' %>" class="form-control form-control-user" id="formid"
            readonly>
            <form class="user" id="formcasebase">
                <div class="container">
                    <div class="form-group row">
                        <label class="col-4">Username</label>
                        <% if(data != null) { %>
                            <input type="hidden" name="userId" value="<%- (data) ? data.userId._id : '' %>" class="form-control form-control-user" readonly>
                            <input type="text" readonly value="<%- (data) ? data.userId.name : '' %>" class="form-control form-control-user col-8" id="exampleFirstName"
                                placeholder="Fullname">
                            <% }else{%>                               
                                <select name="userId" id="selectuser" required class="form-control form-control col-8">
                                <option value="0" selected >--- Select User ---</option>
                                <% for(var i in user) { %>
                                    <option value="<%- user[i]._id %>" id="optionUser<%- user[i]._id %>" 
                                        data-age="<%- user[i].age %>" 
                                        data-weight="<%- user[i].weight %>" 
                                        data-height="<%- user[i].height %>"
                                        data-gender="<%- user[i].gender %>"
                                        data-activity="<%- user[i].activityId.activity %>"
                                        data-bodygoal="<%- user[i].bodygoalId.goal %>"
                                        ><%- user[i]._id %> - <%- user[i].name %></option>
                                <% }%>
                                </select>
                      <% }%>
                    </div>
                    <div id="userDetail">
                        <div class="form-group row">
                            <label class="col-4">Age</label>
                            <input type="text" readonly id="userage" class="form-control form-control-user col-8">
                        </div>
                        <div class="form-group row">
                            <label class="col-4">Height</label>
                            <input type="text" readonly id="userheight" class="form-control form-control-user col-8">
                        </div>
                        <div class="form-group row">
                            <label class="col-4">Weight</label>
                            <input type="text" readonly id="userweight" class="form-control form-control-user col-8">
                        </div>
                        <div class="form-group row">
                            <label class="col-4">Gender</label>
                            <input type="text" readonly id="usergender" class="form-control form-control-user col-8">
                        </div>
                        <div class="form-group row">
                            <label class="col-4">Activity</label>
                            <input type="text" readonly id="useractivity" class="form-control form-control-user col-8">
                        </div>
                        <div class="form-group row">
                            <label class="col-4">Body Goal</label>
                            <input type="text" readonly id="userbodygoal" class="form-control form-control-user col-8">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4">Workout Type</label>
                        <select name="workoutId" class="form-control form-control col-8" id="exampleLastName">
                            <% if(data != null) { %>
                                <% for(var i in workout) { 
                                        if(data.workoutId._id == workout[i]._id){
                                    %>
                                    <option value="<%- workout[i]._id %>" selected><%- workout[i].exercise_level_detail %> - <%- workout[i].exercise_level %></option>
                                    <% }else{%>
                                        <option value="<%- workout[i]._id %>"><%- workout[i].exercise_level_detail %> - <%- workout[i].exercise_level %></option>
                                 <%} }%>
                            <% }else{ %>
                                <% for(var i in workout) { %>
                                    <option value="<%- workout[i]._id %>"><%- workout[i].exercise_level_detail %> - <%- workout[i].exercise_level %></option>
                            <% }} %>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-4">Status</label>
                        <select name="status" value="<%- (data) ? data.status : '' %>" class="form-control form-control col-8" id="exampleLastName">
                            <% if(data != null) { 
                                if(data.status == 0){
                                %>
                                <option value="0" selected>Not Confirmed</option>
                                <option value="1">Accepted</option>
                                <% }else if(data.status == 1){ %>
                                <option value="0">Not Confirmed</option>
                                <option value="1" selected>Accepted</option>
                            <% }}else{ %>
                            <option value="0">Not Confirmed</option>
                            <option value="1">Accepted</option>
                            <% }  %>
                        </select>
                    </div>
                </div>
                <hr/>
                <div class="col text-right">
                    <a href="/casebase" class="btn btn-warning btn-user">
                        Cancel
                     </a>
                    <% if(data == null) { %>
                    <a id="btnAdd" class="btn btn-primary btn-user">
                        Add Case Base
                     </a>
                     <% }else{ %>
                    <a id="btnEdit" class="btn btn-primary btn-user">
                        Edit Case Base
                        </a>
                    <% } %>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<%- include('footer') %>

<script>
    var BASE_URL = 'https://fitmeapp-server.herokuapp.com/api/casebase'
    $('#userDetail').hide();

    $('#btnAdd').on('click',function(e){
        SendData('add');
    })

    $('#btnEdit').on('click',function(e){
        SendData('edit');
    })

    $('#selectuser').on('change', function() {
        if(this.value != 0){
            $('#userDetail').show()
            $('#userage').val($('#optionUser'+this.value).data('age'))
            $('#userheight').val($('#optionUser'+this.value).data('height'))
            $('#userweight').val($('#optionUser'+this.value).data('weight'))
            $('#usergender').val( ($('#optionUser'+this.value).data('gender') == '1' ? 'Male' : 'Female'))
            $('#useractivity').val($('#optionUser'+this.value).data('activity'))
            $('#userbodygoal').val($('#optionUser'+this.value).data('bodygoal'))
        }else{
            $('#userDetail').hide()
        }
       
    });

    function SendData(action){
        var dataForm = $("#formcasebase").serializeArray();
        var ajaxType = (action == 'add') ? 'POST' : 'PATCH';
        var id = $("#formid").val()
        var url = (action == 'edit') ? BASE_URL+'/'+id : BASE_URL
        $.ajax({
          type: ajaxType,
          url: url,
          data: dataForm,
          crossDomain:true,
          dataType: 'json',
          success: function(data){
            //console.log(data)
              var alt ="";         
              // if form is valid
              if(data.message){
                // Upload Image First
                alertCall('success',data.message,'#msgtxt')              
              }else{
                alertCall('alert','Something wrong when input data! Please Try again','#msgtxt')
              }  
          },
          error : function(err){
            alertCall('alert',err.responseText,'#msgtxt')
          }
        }) 
    }

    function alertCall($type,$msg,$target){
      if($type == 'alert'){
        alt= '<div class="alert alert-danger alert-dismissible">'+
                      '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
                      '<h5><i class="icon fas fa-ban"></i> Alert!</h5>'+$msg+
                    '</div>'
      }else if($type == 'success'){
        alt= '<div class="alert alert-success alert-dismissible">'+
                      '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
                      '<h5><i class="icon fas fa-check"></i> Success!</h5>'+$msg+
                    '</div>'
      }
      $($target).html(alt) 
    }
</script>